<div class="content">
    <div class="content-inner">
        <div class="home-top-area">
            <div class="selections">
                <button>Trendler <div class="line-hover"></div></button>
                <button>Son Yayınlananlar <div class="line-hover"></div></button>
                <div class="line"></div>
            </div>
            <button class="create-post btn">
                Gönderi Oluştur
            </button>
        </div>
    </div>
</div>

<div class="post-area">
    <div class="post-area-inner">
        
        <a href="" class="post-type">
            <div class="post-face">
                <img src="/media/post_face.jpg" alt="">
            </div>
            <span class="post-details">
                <h5 class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                <span class="post-bottom">
                    <span class="post-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque saepe veritatis possimus? Aut
                        illum consequuntur suscipit veniam necessitatibus saepe, porro vero quis, exercitationem
                        laudantium quas aliquid iusto blanditiis corporis ab?....
                    </span>
                    <div class="others">
                        <div class="date-details">
                            <span class="date">27.01.2000</span>
                            <span class="dot">·</span>
                            <span class="time">21.54</span>
                        </div>
                        <span class="read-time">
                            <img src="/media/book.svg" alt="book.svg">
                            10 dak.
                        </span>
                    </div>
                </span>
                
            </span>
        </a>
        
        <a href="" class="post-type">
            <div class="post-face">
                <img src="/media/post_face.jpg" alt="">
            </div>
            <span class="post-details">
                <h5 class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                <span class="post-bottom">
                    <span class="post-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque saepe veritatis possimus? Aut
                        illum consequuntur suscipit veniam necessitatibus saepe, porro vero quis, exercitationem
                        laudantium quas aliquid iusto blanditiis corporis ab?....
                    </span>
                    <div class="others">
                        <div class="date-details">
                            <span class="date">27.01.2000</span>
                            <span class="dot">·</span>
                            <span class="time">21.54</span>
                        </div>
                        <span class="read-time">
                            <img src="/media/book.svg" alt="book.svg">
                            10 dak.
                        </span>
                    </div>
                </span>
                
            </span>
        </a>
        
    </div>
</div>
