@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

body {
    font: normal normal 14px/1.2 'Helvetica Neue', Arial, sans-serif;
}

p {
    padding: 8px;
}

a,
h5,
p,
span,
div {
    text-decoration: none;
}

/* global styles START */

.btn {
    padding        : 6px 12px;
    min-width      : 88px;
    border         : none;
    font           : inherit;
    color          : #373030;
    border-radius  : 4px;
    outline        : none;
    text-decoration: none;
    cursor         : default;
    font-weight    : 400;
    // border: 1px solid #ccc;
    box-shadow     : 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0, 0, 0, .4);
    transition: .25s;
    
    &:active,&:hover {
        background: #ff665b;
        color     : #fff;
        position  : relative;
    }
    
    &.btn-blue {
        color     : #fff;
        background: linear-gradient(lighten(#4faefc, 10%), lighten(#006bff, 10%));
        
        &:active {
            background: linear-gradient(#4faefc, #006bff);
        }
    }
    
    &.btn-red {
        color     : #fff;
        background: linear-gradient(#ff6a6d, #ee3e41);
        
        &:active {
            background: linear-gradient(#ff6366, #e44f52);
        }
    }
    
    &.btn-green {
        color     : #fff;
        background: linear-gradient(lighten(#56d72b, 15%), darken(#56d72b, 10%));
        
        &:active {
            background: linear-gradient(#56d72b, darken(#56d72b, 20%));
        }
    }
    
    &.btn-brown {
        color     : #fff;
        background: linear-gradient(lighten(#90714c, 15%), darken(#90714c, 10%));
        
        &:active {
            background: linear-gradient(#90714c, darken(#90714c, 20%));
        }
    }
    
    &.btn-lg {
        font-size: 1.2em;
        padding  : 12px 24px;
    }
    
    &.btn-block {
        display: block;
        width  : 100%;
    }
}

.header {
    background: #1d1d1f;
    
    .header-inner {
        padding        : 15px 0;
        width          : 90%;
        margin-left    : auto;
        margin-right   : auto;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        
        .logo {
            img {
                height: 30px;
            }
        }
        
        ul {
            display    : flex;
            align-items: center;
            
            a {
                color          : #e4e4e4;
                font-weight    : 300;
                padding        : 0 8px;
                font-size      : 12px;
                transition     : .3s;
                text-decoration: none;
                
                &:hover {
                    color: #fff;
                }
            }
            
            button {
                background: none;
                border    : none;
                
                &:hover {
                    img {
                        opacity: 0.99;
                    }
                }
                
                img {
                    opacity   : 0.91;
                    transition: .3s !important;
                    height    : 12px;
                }
            }
        }
    }
}

/* global styles END */

/* home page styles START*/

.content {
    margin-top: 40px;
    
    .content-inner {
        width       : 90%;
        margin-left : auto;
        margin-right: auto;
        
        .home-top-area {
            display        : flex;
            justify-content: space-between;
            
            .selections {
                display : flex;
                position: relative;
                
                button {
                    background    : none;
                    border        : none;
                    transition    : .3s;
                    position      : relative;
                    padding-bottom: 14px;
                    color         : #6e6e73;
                    
                    &:hover {
                        color: #1d1d1f;
                        
                        .line-hover {
                            visibility: visible;
                        }
                    }
                    
                    .line-hover {
                        position  : absolute;
                        bottom    : 0;
                        z-index   : 1;
                        width     : 100%;
                        height    : 1px;
                        left      : 0;
                        background: #1d1d1f;
                        visibility: hidden;
                    }
                }
                
                .line {
                    background: #d6d6db;
                    width     : 100%;
                    height    : 1px;
                    position  : absolute;
                    bottom    : 0;
                    left      : 0;
                }
            }
        }
    }
}

.post-area {
    width     : 100%;
    margin-top: 50px;
    
    .post-area-inner {
        width       : 90%;
        margin-right: auto;
        margin-left : auto;
        
        .post-type {
            display              : grid;
            grid-template-columns: 200px 1fr;
            width                : 100%;
            grid-gap             : 12px; 
            border: 1px solid #efefef;;
            border-radius: 6px;
            margin-bottom: 30px;
            .post-face {
                width     : 100%;
                height: 95px;
                overflow  : hidden;
                border-radius: 2px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                
                img {
                    width     : 100%;
                    height    : 100%;
                    object-fit: cover;
                }
            }
            
            .post-details {
                display        : flex;
                justify-content: space-between;
                flex-direction : column;
                padding: 10px 10px 10px 0;
                
                .post-title {
                    word-break     : break-word;
                    color          : #000;
                    text-decoration: none !important;
                    font-weight    : 900;
                    font-size: 18px;
                }
                
                .post-description {
                    word-break: break-word;
                    color     : #000;
                }
                
                .post-bottom {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    .others{
                        display: flex;
                        justify-content: space-between;
                        span{
                            font-size: 10px;
                            
                        }
                    }
                    .read-time{
                        display: flex;
                        align-items: center;
                    }
                    img{
                        height: 12px;
                        margin-right: 5px;
                    }
                    span{
                        color: #000
                    }
                }
            }
        }
    }
}

/* home page styles END*/

.section{
    width: 100%;
}

._inner{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

input{
    margin-bottom: 20px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #00000005;
    border: 1px solid #bfbfbf;
    padding: 9px;
    font-family: 'SF Text', 'Inter', sans-serif;
    font-weight: 100;
    transition: .24s;
    
    &:focus,&:active{
        outline: 0;
        border: 1px solid #909090;
    }
}

textarea{
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #00000005;
    border: 1px solid #bfbfbf;
    padding: 9px;
    font-family: 'SF Text', 'Inter', sans-serif;
    font-weight: 100;
    
    &:focus,&:active{
        outline: 0;
        border: 1px solid #909090;
    }
}

.page-title{
    background: #1d1d1f;
    border-top: 1px solid #353535;
    width: 100%;
    box-shadow: 0px 6px 6px #0000002b;
    h1{
        font-family: 'Source Sans Pro', sans-serif;
        background: radial-gradient(#cdcdcd, #000);
        font-size: 79px;
        text-align: center;
        font-weight: 900;
        background: radial-gradient(#eff1ff, #000);
        background-size: 100% 200%;
        background-position: 50% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 12px;

    }
}

small{
    font-size: 11px;
}

a{
    transition: .25s;
    color: #494949;
}

.response-area{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 5px #00000026;
}

.danger{
    background: #ff5d5d;
    color: #851d1d;
    border: 1px solid #ff3030;
}

.success{
    background: #78ef8c;
    color: #269412;
    border: 1px solid #30ff41;
}