

<div class="section">
  <div class="section-inner _iner"> 
    
      <form class="login-form" method="post" action="/forget_password_post">
        <p class="login-text">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </p>
        <h3 class="myTitle">Şifremi Unuttum</h3>
        <% if (locals.validation_error != undefined ) { %>
          <%- include('./partials/_message') %> 
          <% } %>
        <input type="email" class="login-input" name="email" autofocus="true" required="true" placeholder="Mail"
        value="<%- typeof olds[0] != 'undefined' ?  olds[0].email :  '' %> "/>
        <input type="submit" name="forget_password_post" value="Sıfırla" class="login-submit" />
      </form>
      <div class="underlay-photo"></div>
      <div class="underlay-black"></div>
    </div>
  </div>
  