<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Şifremi unuttum</h1>
                                <p class="mb-4">
                                    
                                </p>
                            </div>
                            <form class="user" action="/forget_password" method="post">
                                <div class="form-group">
                                    <input type="username" name="username" class="form-control form-control-user"
                                        id="username" aria-describedby="usernameHelp"
                                        placeholder="Kullanıcı adınızı giriniz.">
                                </div>
                                <button href="login.ejs" class="btn btn-primary btn-user btn-block">
                                    Şifreyi sıfırla
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="register.ejs">Hesap oluştur</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.ejs">Zaten hesabınız var mı? Giriş yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
