<div class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>  
  </p>
  <h3 class="myTitle">Hoşgeldiniz</h3>
  
  
  <div class="section">
    <div class="section-inner _iner"> 
      <% if (locals.validation_error != undefined ||  locals.login_error !=undefined) { %>
        <%- include('./partials/_message') %> 
        <% } %>
        
        
        <form class="user" method="POST" action="/login-post"> 
          
          <div  class="form-group">
            <input type="email" class="login-input" placeholder="Mail" name="email"
          value="<%- typeof olds[0] != 'undefined' ?  olds[0].email :  '' %>"  class="form-control form-control-user"  />
          </div>
          
          <div  class="form-group">
            <input type="password" class="login-input" name="password" placeholder="Şifre" />
          </div>
          
          <div  class="form-group">
            <div class="login-label">
              <input type="checkbox" class="custom-control-input" id="customCheck">
              <label class="custom-control-label" for="customCheck">Beni hatırla</label>
            </div>
          </div>
        </div>
        <button type="submit" class="login-submit">Giriş</button>
        
      </form>
      
      <a href="./forget_password" class="login-forgot-pass">Şifremi unuttum ?</a>
      <div class="underlay-photo"></div>
      <div class="underlay-black"></div>
      
    </div>
  </div>
</div>