<div class="login-form">
  
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <h3 class="myTitle">Kayıt Ol</h3>
  
  <div class="section">
    
    <div class="section-inner _iner">
      <form class="user" method="post" action="/register-post">
        <% if (locals.validation_error != undefined ) { %>
          <%- include('./partials/_message') %> 
          <% } %>
          
          <input type="text" class="login-input" name="full_name" autofocus="true" required="true" placeholder="Ad Soyad"
          value="<%- typeof olds[0] != 'undefined' ?  olds[0].full_name :  '' %>"  class="form-control form-control-user"  />
          
          <input type="text" class="login-input" name="username" autofocus="true" required="true" placeholder="Kullanıcı Adı" 
          value="<%- typeof olds[0] != 'undefined' ?  olds[0].username :  '' %>"  class="form-control form-control-user"  />
          
          <input type="email" class="login-input" name="email" autofocus="true" required="true" placeholder="Mail" 
          value="<%- typeof olds[0] != 'undefined' ?  olds[0].email:  '' %>"  class="form-control form-control-user" />
          
          <input type="password" class="login-input" name="password" autofocus="true" required="true" placeholder="Şifre" />
          
          <input type="password" class="login-input" name="repassword" required="true" placeholder="Şifre tekrar" />
          
          <input type="submit" name="register" value="Kaydet" class="login-submit" />
        </form>
        <a href="/login" class="login-forgot-pass">Zaten hesabın var mı ? Giriş yap</a>
        <div class="underlay-photo"></div>
        <div class="underlay-black"></div>
        
        
      </div>
      
    </div>
  </div>