<% validation_error.forEach(element => { %>
        <div align="center" class="alert alert-dismissible alert-dismissible fade show" role="alert">
                <strong style="color: aliceblue;"> <%- element.msg %> </strong>
                <button  type="button" class="btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                </button>
        </div>
        <% }) %>
        
<% success_message.forEach(element => { %>
                <div align="center" class="alert alert-dismissible alert-dismissible fade show" role="alert">
                        <strong style="color: aliceblue;"> <%- element.msg %> </strong>
                        <button  type="button" class="btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                        </button>
                </div>
<% }) %>       
                
<% login_error.forEach(error => { %>
        <div align="center"  class="alert alert-dismissible alert-dismissible fade show" role="alert">
                <strong  style="color: aliceblue;"> <%- error %> </strong>
                <button type="button" class="btn-close-white" data-bs-dismiss="alert" aria-label="Close" >
                        <span aria-hidden="true" > &times; </span>
                </button>
        </div>
        <% }) %>                       