<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sleek Login Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/public/admin/css/admin_style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock >  fa-stack-1x"></i>
    </span>
  </p>
  <input type="full_name" class="login-username" autofocus="true" required="true" placeholder="Adınız soyadınız" />
  <input type="username" class="login-username" autofocus="true" required="true" placeholder="Kullanıcı Adı" />
  <input type="email" class="login-username" autofocus="true" required="true" placeholder="Mail" />
  <input type="password" class="login-username" autofocus="true" required="true" placeholder="Şifre" />
  <input type="repassword" class="login-password" required="true" placeholder="Şifre tekrar" />
  <button type="submit" name="Login" value="Login" class="login-submit"> Kayıt ol</button>
  <a href="#" class="login-forgot-pass">Zaten hesabın var mı ? Giriş yap</a>
</form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
<!-- partial -->
  
</body>
</html>
